<!DOCTYPE html>
<html ng-app="cpguns">
    <head>
        <link href="../libs/css/materialize.min.css" rel="stylesheet" type="text/css"/>
        <link href="../libs/css/meucss.css" rel="stylesheet" type="text/css"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Parceiros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="StoreController">
        <!-- chamando nossa diretiva para o header da area logada -->
    <header-logado></header-logado>

    <!-- corpo da página -->
    <main data-ng-init="getLoja()">
        <!-- uma linha em branco, para dar o espaçamento do header -->
        <div class="row"></div>

        <div class="row">
            <!-- Menuzinho da esquerda -->
            <menu-admin></menu-admin>
            <!-- Fim do menuzinho da esquerda -->

            <!-- parte principal da página -->
            <div class="card col s7 offset-s1 borda">
                <div class="card-action">
                    <h5>Alterar Parceiro</h5>
                </div>
                <div class="card-action">
                    <div class="row">
                        <h5>Nome</h5>
                        <div class="input-field col s10">
                            <i class="material-icons prefix">account_box</i>
                            <input id="icon_prefix" type="text" class="validate" ng-model="store.name">
                            <label for="icon_prefix">Nome</label>
                        </div>
                    </div>
                    <div class="row">
                        <h5>Localidade</h5>
                        <div class="input-field col s3">
                            <i class="material-icons prefix">store</i>
                            <input id="icon_prefix" type="text" class="validate" ng-model="store.address.zip">
                            <label for="icon_prefix">CEP</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="icon_prefix" type="text" class="validate" ng-model="store.address.street">
                            <label for="icon_prefix">Endereço</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="icon_prefix" type="text" class="validate" ng-model="store.address.neighborhood">
                            <label for="icon_prefix">Bairro</label>
                        </div>
                        <div class="input-field col s3">
                            <input id="icon_prefix" type="text" class="validate" ng-model="store.address.city.name">
                            <label for="icon_prefix">Cidade</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s1">
                            <input id="icon_prefix" type="text" class="validate" ng-model="store.address.number">
                            <label for="icon_prefix">Número</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="icon_prefix" type="text" class="validate" ng-model="store.address.complement">
                            <label for="icon_prefix">Complemento</label>
                        </div>

                        <div class="input-field col s3">
                            <select id="estados" ng-model="store.address.city.state.name">
                                <option value="Acre">Acre</option> 
                                <option value="Alagoas">Alagoas</option> 
                                <option value="Amazonas">Amazonas</option> 
                                <option value="Amapá">Amapá</option> 
                                <option value="Bahia">Bahia</option> 
                                <option value="Ceará">Ceará</option> 
                                <option value="Distrito Federal">Distrito Federal</option> 
                                <option value="Espírito Santo">Espírito Santo</option> 
                                <option value="Goiás">Goiás</option> 
                                <option value="Maranhão">Maranhão</option> 
                                <option value="Mato Grosso">Mato Grosso</option> 
                                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option> 
                                <option value="Minas Gerais">Minas Gerais</option> 
                                <option value="Pará">Pará</option> 
                                <option value="Paraíba">Paraíba</option> 
                                <option value="Paraná">Paraná</option> 
                                <option value="Pernambuco">Pernambuco</option> 
                                <option value="Piauí">Piauí</option> 
                                <option value="Rio de Janeiro">Rio de Janeiro</option> 
                                <option value="Rio Grande do Norte">Rio Grande do Norte</option> 
                                <option value="Rondônia">Rondônia</option> 
                                <option value="Rio Grande do Sul">Rio Grande do Sul</option> 
                                <option value="Roraima">Roraima</option> 
                                <option value="Santa Catarina">Santa Catarina</option> 
                                <option value="Sergipe">Sergipe</option> 
                                <option value="São Paulo">São Paulo</option> 
                                <option value="Tocantins">Tocantins</option> 
                            </select>
                            <label for="estado">Estado</label>
                        </div>
                    </div>
                    <div class="row">
                        <h5>Dados de acesso</h5>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="email" class="validate" ng-model="store.user.email">
                            <label for="icon_prefix">E-mail</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">vpn_keys</i>
                            <input id="icon_prefix" type="password" class="validate" ng-model="store.user.password">
                            <label for="icon_prefix">Senha</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="right">
                            <a class="waves-effect waves-light btn" ng-click="alterarCadastro(store)"
                               ng-disabled="!store.name || !store.address.zip || !store.address.street || !store.address.neighborhood || !store.address.city.name
                               || !store.address.number || !store.address.complement || !store.address.city.state.name || !store.user.email || !store.user.password">
                                Alterar
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fim da parte principal -->
        </div>
    </main>

    <!-- chamando nossa diretiva para o footer -->
    <meu-footer></meu-footer>

    <!-- Por prática, os imports de JavaScripts são feitos no final da página, e os de CSS no começo. -->
    <script src="../libs/js/jquery.min.js" type="text/javascript"></script>
    <script src="../libs/js/materialize.min.js" type="text/javascript"></script>
    <script src="../libs/js/angular.min.js" type="text/javascript"></script>
    <script src="../angular/controllers/main.js" type="text/javascript"></script>
    <script src="../angular/directives/minhas-diretivas.js" type="text/javascript"></script>
    <script src="../angular/directives/directive-header-logado.js" type="text/javascript"></script>
    <script src="../angular/directives/directive-footer.js" type="text/javascript"></script>
    <script src="../angular/directives/directive-menu-admin.js" type="text/javascript"></script>
    <script>
                                        $('.dropdown-button').dropdown({
                                            inDuration: 300,
                                            outDuration: 225,
                                            constrainWidth: false, // Does not change width of dropdown to that of the activator
                                            hover: true, // Activate on hover
                                            gutter: 0, // Spacing from edge
                                            belowOrigin: false, // Displays dropdown below the button
                                            alignment: 'left', // Displays dropdown with edge aligned to the left of button
                                            stopPropagation: false // Stops event propagation
                                        });

                                        $(document).ready(function () {
                                            $('select').material_select();
                                        });



    </script>
    <script type = "text/javascript" >
                $(document).ready(function () {
                    $.getJSON('estados_cidades.json', function (data) {
                        var items = [];
                        var options = '<option value="">escolha um estado</option>';

                        $.each(data, function (key, val) {
                            options += '<option value="' + val.nome + '">' + val.nome + '</option>';
                        });
                        $("#estados").html(options);

                        $("#estados").change(function () {
                            var options_cidades = '';
                            var str = "";

                            $("#estados option:selected").each(function () {
                                str += $(this).text();
                            });

                            $.each(data, function (key, val) {
                                if (val.nome == str) {
                                    $.each(val.cidades, function (key_city, val_city) {
                                        options_cidades += '<option value="' + val_city + '">' + val_city + '</option>';
                                    });
                                }
                            });
                            $("#cidades").html(options_cidades);
                        }).change();
                    });
                });
    </script>

</body>
</html>
