<!DOCTYPE html>
<html ng-app="cpguns">
    <head>
        <link href="../libs/css/materialize.min.css" rel="stylesheet" type="text/css"/>
        <link href="../libs/css/meucss.css" rel="stylesheet" type="text/css"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Home cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="ClienteController">
        <!-- chamando nossa diretiva para o header da area logada -->
    <header-costumer></header-costumer>

    <!-- corpo da página -->
    <main data-ng-init="buscarPedidos()">
        <!-- uma linha em branco, para dar o espaçamento do header -->
        <div class="row"></div>

        <div class="row">
            <!-- Menuzinho da esquerda -->
            <menu-cliente></menu-cliente>
            <!-- Fim do menuzinho da esquerda -->

            <!-- parte principal da página -->
            <div class="card col s6 offset-s1 borda">

                <div class="card-title">
                    Seus pedidos
                </div>
                <hr>
                <div class="card-content">
                    Estes são seus pedidos em nossa loja - Para informações completas, clique no número do pedido
                </div>
                <div class="card-action">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th data-field="id">N° Pedido</th>
                                <th data-field="name">Data</th>
                                <th data-field="price">Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="pedido in pedidos">
                                <td><a ng-click="verDetalhes(pedido)">{{pedido.id}}</a></td>
                                <td>{{pedido.dtCreate}}</td>
                                <td>{{getStatus(pedido.status)}}</td>
                                <td>
                                    <a class="waves-effect waves-light btn" ng-disabled="pedido.status !== 'RETIRADO'" ng-click="alterarPedido(pedido)">Devolver</a>
                                    <a class="waves-effect waves-light btn" ng-disabled="pedido.status === 'RETIRADO' || pedido.status === 'EM_TRANSPORTE' || 
                                                pedido.status === 'A_RETIRAR' || pedido.status === 'CANCELADO' || pedido.status === 'DEVOLVIDO'" ng-click="cancelar(pedido)">Cancelar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Fim da parte principal -->
        </div>
    </main>

    <!-- chamando nossa diretiva para o footer -->
    <meu-footer></meu-footer>

    <!-- Por prática, os imports de JavaScripts são feitos no final da página, e os de CSS no começo. -->
    <script src="../libs/js/jquery.min.js" type="text/javascript"></script>
    <script src="../libs/js/materialize.min.js" type="text/javascript"></script>
    <script src="../libs/js/angular.min.js" type="text/javascript"></script>
    <script src="../angular/controllers/main.js" type="text/javascript"></script>
    <script src="../angular/directives/minhas-diretivas.js" type="text/javascript"></script>
    <script src="../angular/directives/directive-header-costumer.js" type="text/javascript"></script>
    <script src="../angular/directives/directive-footer.js" type="text/javascript"></script>
    <script src="../angular/directives/directive-menu-cliente.js" type="text/javascript"></script>
    <script>
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
        });
    </script>

</body>
</html>
