<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="cpguns">
    <head>
        <link href="../libs/css/materialize.min.css" rel="stylesheet" type="text/css"/>
        <link href="../libs/css/meucss.css" rel="stylesheet" type="text/css"/>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body ng-controller="loginController">
        <!-- chamando nossa diretiva para o header da area logada -->
    <header-logado></header-logado>

    <main>
        <!-- uma linha em branco, para dar o espaçamento do header -->
        <div class="row"></div>

        <div class="row">                
            <!-- parte principal da página -->
            <div class="card col s4 offset-s1 borda">

                <div class="card-title">
                    Sou cadastrado
                </div>
                <hr>
                <div class="card-content">
                    Acesse sua conta utilizando seus dados de acesso
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="icon_prefix" type="text" class="validate" ng-model="login.email">
                                <label for="icon_prefix">E-mail</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">vpn_keys</i>
                                <input id="icon_prefix" type="text" class="validate" ng-model="login.password">
                                <label for="icon_prefix">Senha</label>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <a class="waves-effect waves-light btn right" ng-click="logar(login)">
                                <i class="material-icons left">input</i>Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim da parte principal -->

            <!-- parte principal da página -->
            <div class="card col s5 offset-s1 borda">

                <div class="card-title">
                    Não sou cadastrado
                </div>
                <hr>
                <div class="card-content">
                    Crie sua conta!
                </div>
                <div class="card-action">
                    <div class="row">
                        <form>
                            <div class="row">
                                <h5>Dados pessoais</h5>
                                <div class="input-field col s5">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_prefix" type="text" class="validate" ng-model="user.name">
                                    <label for="icon_prefix">Nome</label>
                                </div>
                                <div class="input-field col s4">
                                    <i class="material-icons prefix">date_range</i>
                                    <input id="dt_nascimento" type="date" class="datepicker" ng-model="user.date">
                                    <label for="dt_nascimento">Nascimento</label>
                                </div>
                                <div class="input-field col s3">
                                    <select ng-model="user.genre">
                                        <option value="M" selected>Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                                    <label>Sexo</label>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="input-field col s4">
                                    <input id="icon_prefix" type="text" class="validate" ng-model="user.cpf">
                                    <label>CPF</label>
                                </div>
                            </div>

                            <br/>
                            <div class="row">
                                <h5>Contatos</h5>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">phone</i>
                                    <input id="icon_telephone" type="tel" class="validate" ng-model="user.phone">
                                    <label for="icon_telephone">Telephone</label>
                                </div>
                            </div>

                            <br/>
                            <div class="row">
                                <a class="waves-effect waves-light btn right green darken-1" ng-click="cadastrar(user)">
                                    <i class="material-icons left">input</i>Cadastrar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Fim da parte principal -->
        </div>
    </main>



    <!-- chamando nossa diretiva para o footer -->
    <meu-footer></meu-footer>

    <!-- Por prática, os imports de JavaScripts são feitos no final da página, e os de CSS no começo. -->
    <script src="../libs/js/jquery.min.js" type="text/javascript"></script>
    <script src="../libs/js/materialize.min.js" type="text/javascript"></script>
    <script src="../libs/js/angular.min.js" type="text/javascript"></script>
    <script src="../angular/controllers/main.js" type="text/javascript"></script>        
    <script src="../angular/controllers/LoginController.js" type="text/javascript"></script>        
    <script src="../angular/directives/minhas-diretivas.js" type="text/javascript"></script>
    <script src="../angular/directives/directive-header-logado.js" type="text/javascript"></script>
    <script src="../angular/directives/directive-footer.js" type="text/javascript"></script>        
    <script src="../angular/directives/directive-menu-cliente.js" type="text/javascript"></script>
    <script>
                                            $('.datepicker').pickadate({
                                                monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                                                monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                                                weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                                                weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                                                selectMonths: true, // Creates a dropdown to control month
                                                selectYears: 100, // Creates a dropdown of 15 years to control year
                                                today: false,
                                                clear: 'Limpar',
                                                close: 'Fechar',
                                                max: new Date()
                                            });

                                            $(document).ready(function () {
                                                $('select').material_select();
                                            });
    </script>
</body>
</html>
